/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --index: calc(1vw + 1vh); /* 19 + 10 пикселей типо */
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #171717;
  color: #D9D9D9;
  line-height: 1.5;
}

.first_page{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.header{
  position: absolute;
  display: flex;
  height: 10vh;
  width: 80vw;
  margin-left: 10vw;
}

.header_head{
  position: relative;
  font-weight: 300;
  font-size: calc(var(--index)*1);
  letter-spacing: calc(var(--index)*0.2);
  text-transform: uppercase;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 20%;
  height: 100%;
  text-shadow: 0 0 calc(var(--index)*0.05) #F6EFBA;
}

.header_nav{
  position: relative;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  text-align: center;
  gap: calc(var(--index)*3);
}

.header_nav_link{
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #D9D9D9;
  font-size: calc(var(--index)*0.5);
  letter-spacing: calc(var(--index)*0.08);
  transition: all 0.2s linear;
}

.header_nav_link:after{
  content: "";
  display: block;
  width: 0%;
  height: calc(var(--index)*0.05);

  background-color: #F6EFBA;
  opacity: 0;

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;

  transition: all .1s linear;
}

.header_nav_link:hover{
  color: #F6EFBA;
}

.header_nav_link:hover:after{
  opacity: 1;
  width: 100%;
}

canvas {
  z-index: -100;
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  position: fixed;
}


.first_page_main_content{
  
}

.first_page_title{
  font-weight: bold;
  font-weight: 300;
  font-size: calc(var(--index)*3);
  letter-spacing: calc(var(--index)*0.2);
  text-transform: uppercase;
  text-shadow: 0 0 calc(var(--index)*0.1) #F6EFBA;

  user-select: none;
}

.first_page_subtitle{
  font-weight: 300;
  font-size: calc(var(--index)*0.6);
  letter-spacing: calc(var(--index)*0.05);
}

.first_page_main_button{
  text-transform: uppercase;
  font-weight: 300;
  font-size: calc(var(--index)*0.8);
  letter-spacing: calc(var(--index)*0.1);
  margin-top: 10%;
  color: #D9D9D9;
  background-color:#171717;
  border: calc(var(--index)*0.05) solid #D9D9D9;
  border-radius: calc(var(--index)*0.3);
  width: calc(var(--index)*4);
  height: calc(var(--index)*1.5);
  margin: auto;
  margin-top: 2vh;

  transition: all 0.2s linear;

  cursor: pointer;
  user-select: none;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.first_page_main_button:hover{
  color:#171717;
  background-color:#F6EFBA;
}

.second_page {
  width: 100%;
  height: 60vh;
  background-color:#D9D9D9;
  color:#171717;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.second_page_content_block{
  width: 80vw; 
  height: 100%;
}

.second_page_subtitle{
  height: 15%;
  font-size: calc(var(--index)*0.6);
  letter-spacing: calc(var(--index)*0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #171717;
}

.second_page_title{
  font-weight: bold;
  height: 10%;
  font-size: calc(var(--index)*1.2);
  letter-spacing: calc(var(--index)*0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.second_page_content{
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: space-between;
}

.about_metida{
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.about_metida_logo{
  height: calc(var(--index)*8);
  width: calc(var(--index)*8);
  border-radius: calc(var(--index)*0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.about_metida_text{
  
  color: #171717;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-size: calc(var(--index)*0.8);
  letter-spacing: calc(var(--index)*0.1);
  cursor: pointer;
  transition: all 0.2s linear;
}

.about_metida_text:hover{
  color: #F6EFBA;
}

.third_page{
  height: 100vh;
  width: 100%;
  position: relative;

  display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;
}

.third_page_main_content{
  margin-left: 10vw;
  height: 50%;
  width: 40vw;
  
}

.third_page_title{
  font-weight: bold;
  font-size: calc(var(--index)*1.2);
  letter-spacing: calc(var(--index)*0.05);
  height: 20%;
  width: 100%;
  color: #F6EFBA;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;
  margin-bottom: 5%;
}

.third_page_text{
  width: 100%;
  height: 80%;
  font-size: calc(var(--index)*0.8);
  letter-spacing: calc(var(--index)*0.04);
  color: #D9D9D9;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
}

.globe{
  width: 100%;
  position: absolute;
  height: 100%;
  z-index: -1;
}

.run_line{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 46vh;
  background-color: #D9D9D9;
  color: #171717;
}

.line_title{
  font-weight: bold;
  font-size: calc(var(--index)*1.2);
  width: 100%;
  height: 20%;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.run_line_content{
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3vw;
  height: 40%;
  font-size: calc(var(--index)*3);
}

.run_line_block{
  width: 25%;
}

.under_line{
  font-weight: normal;
  width: 100%;
  font-size: calc(var(--index)*1);
}

.TOCHKA{
  font-size: calc(var(--index)*1);
}

.footer_first{
  height: 100vh;
  width: 100%;
}

.footer_second{
  height: 65vh;
  width: 100%;
  background-color: #171717;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.mapa{
  width: 30%;
  height: 100%;
}

iframe{
  width: 1000px;
  border-radius: calc(var(--index)*0.3);
}

.footer_second_content{
  width: 80%;
  gap: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer_menu{
  height: 100%;
  width: 30%;
}

.footer_reg{
  width: 30%;
}

.footer_second iframe {
  width: 30%;
  bottom: 0;
  left: 0;
}

.menu_block{
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.menu_logo{
  font-weight: bold;
  font-size: calc(var(--index)*1.2);
  letter-spacing: calc(var(--index)*0.05);
  width: 100%;
  height: 20%;
  margin-top: 0;
  color: #F6EFBA;
}



.log_block{
  width: 45%;
  height: 45%;
}

.info{
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #D9D9D9;
  font-size: calc(var(--index)*0.5);
  letter-spacing: calc(var(--index)*0.08);
  transition: all 0.2s linear;
}

.info:after{
  content: "";
  display: block;
  width: 0%;
  height: calc(var(--index)*0.05);

  background-color: #F6EFBA;
  opacity: 0;

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;

  transition: all .1s linear;
}

.info:hover{
  color: #F6EFBA;
}

.info:hover:after{
  opacity: 1;
  width: 100%;
}

.footer_reg{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 80%;
}

.form-title {
  font-weight: bold;
  font-size: calc(var(--index)*1.2);
  letter-spacing: calc(var(--index)*0.05);
  width: 100%;
  height: 20%;
  margin-top: 0;
  color: #F6EFBA;
}

form{
  width: 100%;
}

.form_block{
  height: 25%;
  width: 100%;
}

input {
  width: 80%;
}
